.td-hover { cursor: pointer; } 
.for-age { color: var(--scarlet); } 
.content-body .row { margin: 0px; } 
.content-body .content-sup { padding-left: 0px;} 
.content-body .content-sup .item { display: inline-flex; margin-top: 10px; margin-bottom: 10px; width: 100%; padding: 7px; background-color: #dae0e5; border-radius: 5px; } 
.content-body .content-sup .item .avatar { margin-right: 15px; } 
.content-body .content-sup .item .avatar .bottom-avatar { display: grid; margin-top: 5px; text-align: center; } 
.content-body .content-sup .item .avatar .bottom-avatar .star { height: 15px; } 
.content-body .content-sup .item .avatar a { width: 37px; height: 37px; border-radius: 18px; } 
.content-body .content-sup .item a img { width: 37px; height: 37px; border-radius: 18px; } 
.content-body .content-sup .item .info .meta-info .meta-info-time { margin-left: 5px; } 
.content-body .content-sup .item .info .meta-info { display: inline-flex; font-size: 0.8rem; } 
.content-body .content-sup .item .info .title-info h4 { margin: 0px; font-size: 1.1rem; } 
.content-body .content-sup .item .info .title-info .title-tag span { background-color: cornflowerblue; padding: 2px 5px 2px 5px; border-radius: 4px; font-size: 12px; } 
.content-body .content-sup .item .info .content-info { margin-top: 5px; } 
.content-body .content-sup .item .info .content-info p { font-style: italic; font-size: 0.85rem; margin-bottom: 5px; } 
.content-body .content-sup .item .info .comment-info span { margin-right: 5px; } 
.content-body .content-sup .item .info .comment-info .comment-item { font-size: 0.8em; color: #a0a1a1; } 
.content-body .content-sup .item .info .comment-info .item-tooltip:hover .tooltiptext { visibility: visible; } 
.content-body .content-sup .item .info .comment-info .item-tooltip { position: relative; display: inline-block; } 
.content-body .content-sup .item .info .comment-info .item-tooltip .tooltiptext { top: 10px; visibility: hidden; width: 80px; color: black; background-color: #83adf9; text-align: left; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; font-size: 1.1em; font-weight: 300; text-align: center; } 

.content-body .content-sub { padding-right: 0px; } 
.content-body .content-sub .item-right { display: grid; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: aliceblue; border-radius: 4px; padding: 5px 5px 5px 9px;} 
.content-body .content-sub .item-right h4 { font-size: 1.1rem; font-weight: 600; } 
.content-body .content-sub .item-right a { padding-bottom: 3px; color: black; } 